.btn{
  padding: 16px 35px;
  color: #fff;
  background: #FF4B32;
  border-radius: 5px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  &_main{
    padding: 15px 30px;
    font-weight: bold;
  }
}